@import url('https://fonts.googleapis.com/css?family=Roboto');



body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url('images/5.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #FFF;
  height: 1000px;

}

.pic{
  text-align: center;
  margin-top: 80px;
}

.pic img{
  max-height: 100px;
}

.title {
  margin-top: 10px;
  text-align: center;
  font-size: 4rem;
  color: #fcfdff;
}

.cmp {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 35px;
  color: #8f948e;
}

.intro {
  margin-top: 100px;
  text-align: center;
  color: #091b2a;
  font-size: .9rem;
}



.bottom {
  height: 30px;
  background-color: #104a60;
  border-bottom: 6px solid #115167;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.links {
padding-top: 8px;
text-align: center;
font-size: .9rem;


}

.links a{
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  color: white;

}

.links bull{
  color: white;
}

.icons{
  margin-top: 200px;
  text-align: center;
}

.icons a {
  padding-left: 15px;
  padding-right: 15px;
}
.vid{
  margin-top: 40px;
  text-align: center;

}

.vid iframe {
  width: 95%;
  max-width: 640px;
}
